body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 10px auto 20px;
    max-width: 600px;
}

ul li {
    text-align: left;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.question {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.question label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.scale {
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
    margin-bottom: 20px;
}

.scale label {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-weight: normal;
}

.scale label input[type="radio"] {
    margin-right: 10px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #218838;
}

.info-button {
    width: 100%; 
    max-width: 600px;
    margin: 20px auto;
    display: block;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    width: 80%;
    max-width: 600px;
    position: relative;
}

#result {
    white-space: pre-wrap; /* Para preservar espaços e quebras de linha */
    font-size: 16px;
    margin: 20px 0;
}

.result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.result-item span {
    font-size: 16px;
}

.result-item .eneatipo {
    width: 70%; /* Nome do eneatipo ocupa 70% do espaço */
}

.result-item .score {
    text-align: right;
    width: 30%; /* Pontuação alinhada à direita */
}

.info-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.info-popup .popup-content {
    width: 90%;
    max-width: 500px;
}

.start-popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.start-popup .popup-content {
    text-align: left;
}

#start-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#start-button:hover {
    background-color: #218838;
}

#download-pdf {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
    z-index: 1;
    width: auto;
    height: auto;
    padding: 0;
}

#download-pdf:hover {
    opacity: 0.8;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}
